<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  
  <appSettings>
    <add key="AppId" value="440299456330050" xdt:Transform="Remove" />
    <add key="AppSecret" value="9682ae5052a3ebdae8791b2a26018a40" xdt:Transform="Remove" />
    <add xdt:Transform="Insert" key="AppId" value="214626355713124"></add>
    <add xdt:Transform="Insert" key="AppSecrect" value="95fe1b5bb51e1d7421895aa6121cafc2"></add>
  </appSettings>

  <connectionStrings>
    <add name="DefaultConnection"  xdt:Transform="Replace" 
         connectionString="Server=490c2963-bdda-4e3e-a2eb-a77900f6f7b2.sqlserver.sequelizer.com;Database=db490c2963bdda4e3ea2eba77900f6f7b2;User ID=dzpnpwjyqcwsrrfq;Password=ynYxLVT2pRs4fmtNyQqiJe4TbBguDhAstAW35LnumSq4Jz3zTmu8yddtrfwjNxwg;"
         providerName="System.Data.SqlClinet"/>
         
  </connectionStrings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
